@model IEnumerable<Chapter9_jQueryMobile.Models.Movie>
<ul data-role="listview" data-inset="true">
  <li data-role="list-divider">Inset List</li>
@foreach (var Movie in Model)
{
  <li>@Html.ActionLink(Movie.MovieName, "Details", new { id = Movie.MovieId })</li>
}
</ul>

<ul data-role="listview" data-inset="true">
  <li data-role="list-divider">List With Icons</li>
@foreach (var Movie in Model)
{
<li>
  <a href="@Url.Action("Details", new { id = Movie.MovieId })" ><img src="@string.Format("/Content/images/{0}.png", Movie.Genre)" alt="Email" class="ui-li-icon" />@Movie.MovieName</a>
</li>
}
</ul>


<ul data-role="listview" data-inset="true">
  <li data-role="list-divider">Split List</li>
@foreach (var Movie in Model)
{
<li>
  <a href="@Url.Action("Details", new { id = Movie.MovieId })" >
    <img src="@string.Format("/Content/images/{0}", Movie.MovieIconURL)" />
    <h3>@Movie.MovieName</h3>
    <p>@Movie.MovieDscr</p>
  </a>
  <a href="@Url.Action("Purchase", new { id = Movie.MovieId })">Purchase Movie</a>
</li>
}
</ul>



<ul data-role="listview" data-inset="true" data-count-theme="e">
  <li data-role="list-divider">List With Count Bubbles</li>
@foreach (var Movie in Model)
{
<li>
  <a href="@Url.Action("Details", new { id = Movie.MovieId })" >@Movie.MovieName
  <span class="ui-li-count">@Movie.MovieId</span>
  </a>
</li>
}
</ul>

